.md-tabs {
    display: block !important; 
    background-color: rgba(0,0,0,.2) !important; 
  }


  .xs-tabs {
    display: block !important; 
    background-color: rgba(0,0,0,.2) !important; 
  }

  .sm-tabs {
    display: block !important; 
    background-color: rgba(0,0,0,.2) !important; 
  }


  .lg-tabs {
    display: block !important; 
    background-color: rgba(0,0,0,.2) !important; 
  }


  .xl-tabs {
    display: block !important; 
    background-color: rgba(0,0,0,.2) !important; 
  }


  /* /* .xs-nav {
    display: none !important; 
  }



  .sm-nav {
    display: none !important; 
  }


  .md-nav {
    display: none !important; 
  }


  .lg-nav {
    display: none !important; 
  }


  .xg-nav {
    display: none !important; 
  }  

  

  
  
